<!-- property area -->
<div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
    <div class="container">
        <div class="wizard-footer">
            <div class="pull-left">
                <input type='button' (click)="cancel()" class='btn btn-previous btn-default' name='previous'
                    value='Trở về ' />

            </div>
        </div>
        <div class="clearfix">
            <div class="wizard-container">
                <div class="wizard-card ct-wizard-orange" id="wizardProperty">

                    <form [formGroup]="createForm">
                        <div class="wizard-header">
                            <h3>
                                <br>ĐIỀN THÔNG TIN NHÀ CỦA BẠN <br>
                            </h3>
                        </div>

                        <ul>

                        </ul>

                        <div class="tab-content">

                            <div>
                                <div class="row p-b-15  ">
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="picture-container">
                                            <div class="picture">
                                                <img src="" class="picture-src" id="wizardPicturePreview" title="" />
                                                <input type="file" id="file" #userPhoto
                                                    (change)="onFileSelected($event)" name="image"
                                                   autocomplete="off" id="wizard-picture" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Tên căn nhà :</label>
                                                <input formControlName="name" type="text" [(ngModel)]="house.name"
                                                 class="form-control"
                                                  placeholder="Super villa ...">
                                            <div
                                                   *ngIf="createForm.get('name').invalid && (createForm.get('name').dirty || createForm.get('name').touched)"
                                                      class="alert alert-danger">
                                              <div *ngIf="createForm.get('name').errors.required">Vui lòng nhập tên nhà</div>
                                            </div>
                                          </div>




                                        <div class="form-group">
                                            <label>Giá căn nhà :</label>
                                            <input formControlName="pricePerDay" type="text" [(ngModel)]="house.pricePerDay"
                                                class="form-control"
                                                placeholder="3330000...">
                                                <div
                                                *ngIf="createForm.get('pricePerDay').invalid && (createForm.get('pricePerDay').dirty || createForm.get('pricePerDay').touched)"
                                                   class="alert alert-danger">
                                           <div *ngIf="createForm.get('pricePerDay').errors.required">Vui lòng nhập giá</div>
                                         </div>
                                        </div>


                                        <div class="form-group">
                                            <label>Phân loại nhà :</label>
                                            <select  class="form-control" formControlName="type" [(ngModel)]="house.type">
                                              <option value="">Chọn loại nhà</option>
                                              <option>Nhà ở riêng lẻ</option>
                                              <option>Nhà chung cư</option>
                                            </select>
                                                <div
                                                *ngIf="createForm.get('type').invalid && (createForm.get('type').dirty || createForm.get('type').touched)"
                                                   class="alert alert-danger">
                                           <div *ngIf="createForm.get('type').errors.required">Vui lòng nhập loại nhà</div>
                                         </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--  End step 1 -->

                            <div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Mô tả căn nhà :</label>
                                                <textarea formControlName="description" [(ngModel)]="house.description"
                                                    class="form-control"></textarea>
                                                    <div
                                                    *ngIf="createForm.get('description').invalid && (createForm.get('description').dirty || createForm.get('description').touched)"
                                                       class="alert alert-danger">
                                               <div *ngIf="createForm.get('description').errors.required">Vui lòng thêm mô tả </div>
                                             </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Địa chỉ :</label>
                                                <input formControlName="address" type="text" class="form-control" [(ngModel)]="house.address"
                                                    placeholder="Nha tang...">
                                                    <div
                                                    *ngIf="createForm.get('address').invalid && (createForm.get('address').dirty || createForm.get('address').touched)"
                                                       class="alert alert-danger">
                                               <div *ngIf="createForm.get('address').errors.required">Vui lòng thêm địa chỉ</div>
                                             </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-3">


                                            <div class="form-group">
                                                <label>Trạng thái căn nhà :</label>
                                                <select  class="form-control" formControlName="status" [(ngModel)]="house.status">
                                                  <option value="">Chọn trạng thái</option>
                                                  <option>Còn trống</option>
                                                  <option>Đã cho thuê</option>
                                                </select>
                                                    <div
                                                    *ngIf="createForm.get('status').invalid && (createForm.get('status').dirty || createForm.get('status').touched)"
                                                       class="alert alert-danger">
                                               <div *ngIf="createForm.get('status').errors.required">Vui lòng chọn trạng thái</div>
                                             </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Số phòng ngủ :</label>
                                                <select  class="form-control"  formControlName="amountOfbedrooms" [(ngModel)]="house.amountOfbedrooms" >
                                                  <option value="">Chọn số lượng phòng</option>
                                                  <option>1</option>
                                                  <option>2</option>
                                                  <option>3</option>
                                                  <option>4</option>
                                                </select>
                                                    <div
                                                    *ngIf="createForm.get('amountOfbedrooms').invalid && (createForm.get('amountOfbedrooms').dirty || createForm.get('amountOfbedrooms').touched)"
                                                       class="alert alert-danger">
                                               <div *ngIf="createForm.get('amountOfbedrooms').errors.required">Vui lòng nhập số phòng</div>
                                             </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Số phòng tắm:</label>
                                                <select  class="form-control" formControlName="amountOfbathrooms" [(ngModel)]="house.amountOfbathrooms" >
                                                  <option value="">Chọn số lượng phòng</option>
                                                  <option>1</option>
                                                  <option>2</option>
                                                  <option>3</option>
                                                  <option>4</option>
                                                </select>
                                                    <div
                                                    *ngIf="createForm.get('amountOfbathrooms').invalid && (createForm.get('amountOfbathrooms').dirty || createForm.get('amountOfbathrooms').touched)"
                                                       class="alert alert-danger">
                                               <div *ngIf="createForm.get('amountOfbathrooms').errors.required">Vui lòng nhập số phòng</div>
                                             </div>

                                            </div>


                                        </div>

                                    </div>

                                    <br>
                                </div>
                            </div>
                            <!-- End step 2 -->

                            <!-- <div >
                                <h4 class="info-text">Cung cấp thêm ảnh cho chúng tôi ? </h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="picture-container">
                                            <div class="picture">
                                                <img src="" class="picture-src" id="wizardPicturePreview" title="" />
                                                <input type="file" id="file" #userPhoto
                                                    (change)="onFileSelected($event)" name="img"
                                                     autocomplete="off" id="wizard-picture" />
                                            </div>
                                        </div>
                                        <div class="picture-container">
                                            <div class="picture">
                                                <img src="" class="picture-src" id="wizardPicturePreview" title="" />
                                                <input type="file" id="file" #userPhoto
                                                    (change)="onFileSelected($event)" name="img"
                                                     autocomplete="off" id="wizard-picture" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="picture-container">
                                            <div class="picture">
                                                <img src="" class="picture-src" id="wizardPicturePreview" title="" />
                                                <input type="file" id="file" #userPhoto
                                                    (change)="onFileSelected($event)" name="img"
                                                     autocomplete="off" id="wizard-picture" />
                                            </div>
                                        </div>
                                        <div class="picture-container">
                                            <div class="picture">
                                                <img src="" class="picture-src" id="wizardPicturePreview" title="" />
                                                <input type="file" id="file" #userPhoto
                                                    (change)="onFileSelected($event)" name="img"
                                                     autocomplete="off" id="wizard-picture" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!--  End step 3 -->




                        </div>

                        <div>
                            <div class="pull-right">

                                <input type='button' (click)="onSubmit()" class='btn btn-finish btn-primary '
                                name='finish' value='
                            Hoàn thành' />

                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
                <!-- End submit form -->
            </div>
        </div>
    </div>
</div>
