<div class="footer-area">

  <div class=" footer" >
      <div class="container" >
          <div class="row">

              <div class="col-md-4 col-sm-6 wow fadeInRight animated">
                  <div class="single-footer">
                      <h4>Liên hệ </h4>
                      <div class="footer-title-line"></div>

                      <img src="assets/img/footer-logo.png" alt="" class="wow pulse" data-wow-delay="1s">
                      <ul class="footer-adress">
                          <li><i class="pe-7s-map-marker strong"> </i>Tầng 17 Tòa nhà Center Building - Hapulico Complex, số 1 Nguyễn Huy Tưởng, Quận Thanh Xuân, TP Hà Nội.</li>
                          <li><i class="pe-7s-mail strong"> </i> garoestate@gmail.com</li>
                          <li><i class="pe-7s-call strong"> </i>19008371</li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 wow fadeInRight animated">
                  <div class="single-footer">
                      <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                      <div class="footer-title-line"></div>
                      <ul class="footer-menu">
                          <li><a href="properties.html">Tuyển dụng</a>  </li>
                          <li><a href="#">
                            An toàn mua bán</a>  </li>
                          <li><a href="submit-property.html">Quy định cần biết</a></li>
                          <li><a href="contact.html">Quy chế quyền riêng tư</a></li>
                          <li><a href="faq.html">Liên hệ hỗ trợ</a>  </li>
                      </ul>
                  </div>
              </div>
              <!-- <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                  <div class="single-footer">
                      <h4>Chính sách bảo mật</h4>
                      <div class="footer-title-line"></div>
                      <ul class="footer-menu">
                          <li><a href="properties.html">Tuyển dụng</a>  </li>
                          <li><a href="#">
                            An toàn mua bán</a>  </li>
                          <li><a href="submit-property.html">Submit property </a></li>
                          <li><a href="contact.html">Contact us</a></li>
                          <li><a href="faq.html">fqa</a>  </li>
                      </ul>
                  </div>
              </div> -->
              <div class="col-md-4 col-sm-6 wow fadeInRight animated">
                  <div class="single-footer news-letter">
                      <h4>CHỨNG NHẬN</h4>
                      <div class="footer-title-line"></div>

                      <img class="img" src="assets/img/demo/bct.png">


                  </div>
              </div>

          </div>
      </div>
  </div>

  <div class="footer-copy text-center">
      <div class="container">
          <div class="row">
              <div class="pull-left">
                  <span> (C) <a href="http://www.KimaroTec.com">KimaroTheme</a> , All rights reserved 2016  </span>
              </div>
              <!-- <div class="bottom-menu pull-right">
                  <ul>
                      <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
                      <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Property</a></li>
                      <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a></li>
                      <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a></li>
                  </ul>
              </div> -->
          </div>
      </div>
  </div>

</div>
