<div class="content-area user-profiel" style="background-color: #FCFCFC;">&nbsp;
  <div style="margin: auto 400px;" class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1 profiel-container">


        <form [formGroup]="changePasswordForm" (ngSubmit)="submit">

          <div class="profiel-header">
            <h3>
              ĐỔI MẬT KHẨU <br>
            </h3>
            <hr>
          </div>

          <div class="clear">

            <div class="col-sm-10 col-sm-offset-1">





              <!-- <div class="form-group">
                          <label>Mat khau hien tai</label>
                          <input formControlName="password" type="password" class="form-control">
                          <div *ngIf="changePasswordForm.get('password').invalid && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)"
                         class="alert alert-danger">
                     <div *ngIf="changePasswordForm.get('password').errors.required">Vui lòng nhập mật khẩu</div>
                        </div>
                      </div> -->

              <!-- <div class="form-group">
                              <label>Mat khau moi</label>
                              <input formControlName="newPassword" type="password" class="form-control">
                              <div *ngIf="changePasswordForm.get('newPassword').invalid && (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched)"
                              class="alert alert-danger">
                            <div *ngIf="changePasswordForm.get('newPassword').errors.required">Vui lòng nhập mật khẩu</div>
                            <div *ngIf="changePasswordForm.get('newPassword').errors.minlength">Độ dài mật khẩu từ 6-8 kí tự</div>
                            <div *ngIf="changePasswordForm.get('newPassword').errors.pattern">mat khau khong khop</div>

              </div>

                          </div>

                          <div class="form-group">
                              <label>Nhap lai mat khau</label>
                                <input formControlName="newPasswordConfirm" type="password" class="form-control">
                                <div *ngIf="changePasswordForm.get('newPasswordConfirm').invalid && (changePasswordForm.get('newPasswordConfirm').dirty || changePasswordForm.get('newPasswordConfirm').touched)"
                                  class="alert alert-danger">
                                  <div *ngIf="changePasswordForm.get('newPasswordConfirm').errors.required">Vui lòng nhập mật khẩu</div>
                                  <div *ngIf="changePasswordForm.get('newPasswordConfirm').errors.minlength">Độ dài mật khẩu từ 6-8 kí tự</div>
                                  <div *ngIf="changePasswordForm.get('newPasswordConfirm').errors.pattern">mat khau khong khop </div>

                                </div>
                          </div> -->

              <div class="form-group">
                <label for="password">Mật khẩu hiện tại</label>
                <input formControlName="password" id="password" type="password" class="form-control">
                <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                  <div *ngIf="f.password.errors.required">Vui lòng nhập mật khẩu</div>
                  <div *ngIf="f.password.errors.minlength">Độ dài mật khẩu từ 6-8 kí tự</div>
                </div>
              </div>



              <div class="form-group">
                <label for="password">Mật khẩu mới</label>
                <input formControlName="newPassword" id="password" type="password" class="form-control">
                <div *ngIf="f.newPassword.touched && f.newPassword.invalid" class="alert alert-danger">
                  <div *ngIf="f.newPassword.errors.required">Vui lòng nhập mật khẩu</div>
                  <div *ngIf="f.newPassword.errors.minlength">Độ dài mật khẩu từ 6-8 kí tự</div>
                </div>
              </div>

              <div class="form-group">
                <label for="confirm_password">Nhập lại mật khẩu</label>
                <input formControlName="newPasswordConfirm" id="confirm_password" type="password" class="form-control">
                <div *ngIf="f.newPasswordConfirm.touched && f.newPasswordConfirm.invalid" class="alert alert-danger">
                  <div *ngIf="f.newPasswordConfirm.errors.required">Vui lòng nhập mật khẩu</div>
                  <div *ngIf="f.newPasswordConfirm.errors.minlength">Độ dài mật khẩu từ 6-8 kí tự</div>
                  <div *ngIf="f.newPasswordConfirm.errors.confirmedValidator">Mật khẩu không khớp</div>
                </div>
              </div>





            </div>
            <div style="margin-right: -150px;" class="col-sm-4 col-sm-offset-2">
              <input style="width: 120px; height: 45px;" type='button' routerLink="/house" routerLinkActive="active"
                class="btn btn-finish btn-primary pull-right " value="Trở về ">
            </div>
            <div style="margin-left: 140px;" class="col-sm-4 col-sm-offset-1">
              <input style="width: 120px; height: 45px; " type="button" [disabled]="!changePasswordForm"
                (click)="submit()" class='btn btn-previous btn-default' value="Xác nhận">

            </div>



          </div>




        </form>

      </div>
    </div><!-- end row -->

  </div>
