

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-3 p0 padding-top-40">
                <div class="blog-asside-right">
                    <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
                        <div class="panel-heading">

                            <h1 class="panel-title"><a  style="color: white;" (click)="getInfo()" >Danh sách nhà cho thuê </a></h1>

                        </div>
                        <div class="panel-body search-widget">

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area recent-property" style="background-color: #FFF;">
    <div class="container">
        <div class="row">

            <div class="col-md-9 pr-30 padding-top-40 properties-page user-properties">

                <div class="section">
                    <div class="page-subheader sorting pl0 pr-10">

                    </div>

                </div>


                <div class="section">

                    <div id="list-type" class="proerty-th-list">

                        <div *ngFor="let list of myHomeLists " class="col-md-4 p0" >
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a ><img src="{{list.image}}"></a>
                                </div>
                                <div class="item-entry overflow">

                                    <h5> {{list.name}}
                                    </h5>
                                    <a *ngIf="list.status=='Đang muốn thuê !'" click)="viewHouse(house.id)" style="color: orange;" >Đang có người muốn thuê nhà của bạn</a>

                                    <div class="dot-hr"></div>
                                    <!-- <span class="pull-left"><b> Area :</b> 120m </span> -->
                                    <span class="proerty-price pull-right">{{list.pricePerDay |currency: "VND":true}}</span>

                                    <p style="display: none;"> Mô tả  : {{list.description}}</p>
                                    <div >

                                     <span class="pull-left" ><b> Trạng thái :</b><b>{{list.status}}</b></span>
                                    </div>
                                    <div class="property-icon">

                                        <img src="assets/img/icon/bed.png"> {{list.amountOfbedrooms}}
                                        <img src="assets/img/icon/shawer.png"> {{list.amountOfbathrooms}}


                                        <div class="dealer-action pull-right">
                                            <a routerLink="edit-house/{{list.id}}" routerLinkActive="active" class="button">Sửa </a>


                                        </div>

                                    </div>





                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>




        </div>
    </div>
    <button type='button' (click)="back()" class='btn btn-primary '>Trở về</button>

</div>
