<div class="main-content">
  <div id="page-wrapper">
    <div class="main-page">
      <div class="tables">
        <h3 class="title1">Book Details {{book.title}}</h3>
        <div>

          <hr/>
          <div *ngIf="book">
            <div>
              <label><b>Title: </b></label> {{book.title}}
            </div><br>
            <div>
              <label><b>Author: </b></label> {{book.author}}
            </div><br>
            <div>
              <label><b>Description: </b></label> {{book.description}}
            </div><br>
          </div>
          <br>
          <button (click)="list()" class="btn btn-primary">Back to Book List</button><br>

        </div>
      </div>
    </div>
  </div>
</div>

