<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Thông tin cá nhân</h1>
            </div>
        </div>
    </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="" id="contact1">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3><i class="fa fa-map-marker"></i> Tên người dùng</h3>
                            <p>
                                <strong>{{user.name}}</strong>
                            </p>
                        </div>
                        <!-- /.col-sm-4 -->
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <h3><i class="fa fa-envelope"></i> Email :</h3>
                            <ul>
                                <li><strong><a href="">{{user.email}}</a></strong> </li>
                            </ul>
                        </div>
                        <!-- /.col-sm-4 -->
                    </div>
                    <!-- /.row -->
                    <hr>

                    <hr>
                    <h2>Thông tin cá nhân </h2>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group"> Tên người dùng :
                                    <input type="text" class="form-control" placeholder="Enter name" name="name"
                                        [(ngModel)]="user.name" required #name='ngModel'
                                        [class.is-invalid]="name.invalid && name.touched">
                                    <div *ngIf="name.errors && (name.valid || name.touched)">
                                        <small class="text-danger" *ngIf="name.errors.required">Tên người dùng không
                                            được để trống</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"> Địa chỉ :
                                    <input type="text" class="form-control" name="address" placeholder="Enter gender"
                                        [(ngModel)]="user.address" required #address='ngModel'
                                        [class.is-invalid]="address.invalid && address.touched">
                                    <div *ngIf="address.errors && (address.valid || address.touched)">
                                        <small class="text-danger" *ngIf="address.errors.required">Địa chỉ người dùng
                                            không được để trống</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">Số điện thoại :
                                    <input type="number" class="form-control" name="phone" [(ngModel)]="user.phone"
                                        required #phone='ngModel' [class.is-invalid]="phone.invalid && phone.touched">
                                    <div *ngIf="phone.errors && (phone.valid || phone.touched)">
                                        <small class="text-danger" *ngIf="phone.errors.required">Số điện thoại người
                                            dùng không được để trống</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"> Email :
                                    <input type="text" class="form-control" placeholder="Enter name" name="email"
                                        [(ngModel)]="user.email" required #name='ngModel'
                                        [class.is-invalid]="name.invalid && name.touched">
                                    <div *ngIf="email.errors && (email.valid || email.touched)">
                                        <small class="text-danger" *ngIf="email.errors.required">Tên người dùng không
                                            được để trống</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">Mật khẩu :
                                    <input disabled type="password" class="form-control" value="***********">
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button (click)="updateUser()" type="submit" class="btn btn-primary">Cập nhật</button>
                                <div class="col-sm-6">
                                <button type='submit' (click)="cancel()" class="btn btn-primary">Trở về </button>
                                </div>

                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>