    
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1>Chi tiet nha</h1>
        </div>
        <div class="card-body">
          
          <p class="mt-3">Name House: {{house.name}}</p>
          <p>Type: {{house.type}}</p>
          <p>Price: {{house.pricePerDay}}</p>
          <p>Address: {{ house.address }}</p>
          <p>Amount Of bedrooms: {{house.amountOfbedrooms}}</p>
          <p>Amount Of bathrooms: {{house.amountOfbathrooms}}</p>
          <p>Description: {{ house.description }}</p>
          <p>Status: {{ house.status }}</p>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="..." alt="First slide">
              </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
   
